@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


* {
    font-family: 'Roboto', sans-serif;

    font-size: 2rem;
}

.menu-full {
    width: 50%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: 50px;
    margin-left: 50px;
    

}

h2{
    text-align: center;
    margin-bottom: 0px;
    border: 1px solid black;
    background-color: #E3B505;
    color: whitesmoke;


}

.menu-list {
    text-align: center;
    list-style: none;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
    padding-left: 0px;
    }
.menu-list li {
    font-size: 1.8rem;
    background-color: #56A3A6;
    
}
.menu-list a{
    text-decoration: none;
    color: whitesmoke;
    
    

}
.menu-list a:hover {
    color: #DB504A;
}
.menu-list li:hover {
    background-color: #084C61;
    box-shadow: inset 1px -1px 5px 5px #4F6D7A;
    transition: all 0.5s ease ;

    
}
.menu-list li:first-child,.menu-list li:nth-last-child(2),.menu-list li:nth-last-child(3){
    border-bottom: 1px solid black;
}


.menu-list li:last-child{
    border-radius: 0px 0px 15px 15px #4F6D7A;
}
